<%= partial "partials/head" %>
  <a href="#top" class="back-to-top">Top</a>
  <%= partial "partials/modules/hero" %>
  <%= partial "partials/modules/nav" %>

  <%= yield %>
<%= partial "partials/foot" %>
