<%= partial "partials/head" %>
<!-- <%= partial "partials/modules/subpage-nav" %> -->
<%= partial "partials/modules/sec-page__header" %>
<%= partial "partials/modules/nav" %>

<section class="m-sec-page__body">
        <%= yield %>
</section>

<%= partial "partials/foot" %>
