<%= partial "partials/head" %>
<%= partial "partials/modules/subpage-nav" %>

<section class="m-entry">
    <article>
        <div class="news-date"><%= data.page.date %></div>
        <h3><%= data.page.title %></h3>
        <%= yield %>
    </article>
</section>

<%= partial "partials/foot" %>
