<%= partial "partials/head" %>
<%= partial "partials/modules/nav" %>

<section class="m-entry">
    <article>
        <div class="news-date"><%= current_page.data.date %></div>
        <h3><%= current_page.data.title %></h3>
        <%= yield %>
    </article>
</section>

<%= partial "partials/foot" %>
