---
layout: layout
---


<article class="speaker-page <% if s.invited %>speaker-invited<% end %>" >
  <% if s.title %>
    <h3 class="session-title"><%= s.title %></h3>
  <% end %>

  <aside class="speaker-page__info">
    <figure class="speaker-pic">
      <%= image_tag "speakers/#{s.name.split(' ').join('-').downcase}.jpg" %>
    </figure>

    <% if s.social %>
      <ul class="speaker-social">
        <% if s.social.twitter %>
          <li class="speaker-twitter speaker-url">
            <a href="http://twitter.com/<%= s.social.twitter%>"><span class="icon icon-twitter"></span>@<%= s.social.twitter%></a>
          </li>
        <% end %>
        <% if s.social.github %>
          <li class="speaker-github speaker-url">
            <a href="http://github.com/<%= s.social.github%>">
              <span class="icon icon-github"></span><%= s.social.github%></a>
          </li>
        <% end %>
        <% if s.social.web %>
          <li class="speaker-site speaker-url">
            <a href="<%= s.social.web%>"><span class="icon icon-link"></span><%= s.social.web%></a>
          </li>
        <% end %>
      </ul>
    <% end %>
  </aside>

  <main class="speaker-page__main">
  <% if s.description %>
      <div class="session-description">
        <%= markdown(s.description) %>
      <div>
    <% end %>

    <% if s.bio %>
      <h6>About <%= s.name %></h6>
      <div class="speaker-bio"><%= markdown(s.bio) %></div>
    <% end %>
  </main>


</div>
