---
layout: home
---


<article class="speaker-page <% if s.invited %>speaker-invited<% end %>" >

  <% if s.title %>
    <h1 class="session-title"><%= s.title %><h1>
  <% end %>

  <% if s.description %>
    <div class="session-description">
      <%= markdown(s.description) %>
    <div>
  <% end %>

  <footer class="speaker">

    <figure class="speaker-circle">
      <%= image_tag "speakers/#{s.name.split(' ').join('-').downcase}.jpg" %>
    </figure>

    <% if s.bio %>
      <div class="speaker-bio"><%= markdown(s.bio) %></div>
    <% end %>

  <% if s.social %>
    <ul class="speaker-social">
      <% if s.social.twitter %>
        <li class="speaker-twitter">
          <a href="http://twitter.com/<%= s.social.twitter%>">@<%= s.social.twitter%></a>
        </li>
      <% end %>
      <% if s.social.github %>
        <li class="speaker-github">
          <a href="http://github.com/<%= s.social.github%>"><%= s.social.github%></a>
        </li>
      <% end %>
      <% if s.social.web %>
        <li class="speaker-site">
          <a href="<%= s.social.web%>"><%= s.social.web%></a>
        </li>
      <% end %>
    </ul>
  <% end %>

  </footer>

</div>
