<section class="m-speakers">
	<a name="speakers"></a>
		<article >
			<h2 class="sub-header header--white">Speakers</h2>
		</article>


		<div class="speaker-grid">

			<% data.speakers.each do |s| %>
				<% link_to "speakers/#{s.name.gsub(/[^a-z0-9\s]/i, '').split(' ').join('-').downcase}.html" do %>
				<article class="speaker <% if s.invited %>speaker-invited<% end %>" >
				  <div class="speaker-circle">
				    <%= image_tag "speakers/#{s.name.gsub(/[^a-z0-9\s]/i, '').split(' ').join('-').downcase}.jpg" %>
				  </div>

				  <% if s.title %>
				  	<h3 class="speaker-talk-title">

				  			<%= s.title %>
				  	</h3>
					<% end %>

				  <div class="speaker-name">
				  	<%= s.name %>
				  	</div>
				  <div class="speaker-twitter"><a href="http://twitter.com/<%= s.social.twitter%>" target="_blank">@<%= s.social.twitter %></a></div>


				  <!-- <h4 class="speaker-mini-bio"><%= s.does %></h4> -->

				</article>
				<% end %>
			<% end %>

		</div>
</section>
