<section class="m-venue-content">

    <article>
        <h2 class="sub-header header--white">Venues</h2>

        <div class="venue-logo"><img src="/images/logos/northdoor.png" alt=""></div>

        <p class="wide">SassConf takes place in Austin's eclectic and quirky
        Eastside. Our primary venue, The North Door, is a live music, performance, and event space that we're transforming into a funky, vintage lounge.</p>

        <p class="wide">For lunch, wander to the East Side's myriad of restaurant options, from Tacos and Tex-Mex to French and Argentinan cuisine, and even a sushi trailer. We made y'all a <%= link_to('handy list', 'https://foursquare.com/sassconf/list/sassconfatx15-lunch') %> of delicious spots worth venturing to for lunch. </p>

    </article>
</section>

<section data-src="https://sassconf.imgix.net/backgrounds/venues-eastside.jpg?auto=format" class="imgix-fluid imgix-fluid-bg m-quote">

    <h3 class="quote-text">
        <span class="highlight highlight__green highlight-wrap">
            Explore East Side favorites and enjoy the Texas warmth
        </span>
        <span class="highlight highlight__green highlight-breaks">
          Explore East Side favorites<br>enjoy the Texas warmth
        </span>
    </h3>
</section>



<section class="m-about">

<div class="m-venue-map">
  <iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zzriMaEd_xag.kzQ6xZbdm27c" width="100%" height="480"></iframe>
</div>

  <article>

      <p class="wide">SassConf likes to experience the charms of our host cities. Austin's East side is no stranger to charms. It is easily walkable plus Texas has lovely
      November weather. Stretch, see the city, explore Austin, and learn!</p>


      <h4>North Door</h4>
      <p>
        <%= link_to '501 Brushy St, Austin, TX 78702', 'https://www.google.com/maps/place/The+North+Door/@30.259059,-97.736249,15z/data=!4m2!3m1!1s0x0000000000000000:0x2f09e2f5c3c6dc6d' %>
      </p>


      <h4>Wright Bros. Brew and Brew</h4>
      <p>
        <%= link_to '500 San Marcos St #105, Austin, TX 78702', 'https://www.google.com/maps/place/Wright+Bros.+Brew+and+Brew/@30.259059,-97.736249,15z/data=!4m2!3m1!1s0x0000000000000000:0x1aca02d5fc79c6c9' %>
      </p>


      <h4>Funsize</h4>
      <p>
        <%= link_to '407B E 6th St #204, Austin, TX 78701', 'https://www.google.com/maps/place/Funsize/@30.259059,-97.736249,15z/data=!4m2!3m1!1s0x0000000000000000:0x27e62ae56ef4658b' %>
      </p>

      <h4>Retail Me Not</h4>
      <p>
        <%= link_to '301 Congress Ave #700, Austin, TX 78701', 'https://www.google.com/maps/place/RetailMeNot+Inc./@30.259059,-97.736249,15z/data=!4m2!3m1!1s0x0000000000000000:0x4ea05c5cb98939a0' %>
      </p>

  </article>
</section>



