

<!-- <section class="m-day-schedule"> -->
    <!-- <a name="coc"></a> -->
      <aside class="day-schedule__nav__container">
        <ul class="day-schedule__nav-group">
          <!-- <li>
            <a class="subpage-nav-item logo"><%= partial "partials/logo" %></a>
          </li> -->
            <% data.speakers.each do |s| %>
            <li class="day-schedule__nav-item">
              <%= link_to s.start, "##{s.name.gsub(/[^a-z0-9\s]/i, '').split(' ').join('-').downcase}", :class => "day-schedule__nav__link" %>
            </li>
            <% end %>
        </ul>
      </aside>
      <article class="day-schedule__body">
        <% data.speakers.each do |s| %>
          <section class="day-schedule__session">
            <%= link_to :name => "#{s.name.gsub(/[^a-z0-9\s]/i, '').split(' ').join('-').downcase}" %>
            <h5 class="day-schedule__session-time"><span class="session-time__start"><%= s.start %></span>  - <span class="session-time__end"><%= s.end %></span></h5>
            <h2 class="day-schedule__session-title"><%= s.title %></h2>
            <h6 class="day-schedule__session-name"><%= s.name %></h6>
            <footer class="day-schedule__session-footer hide">
              <p><%= s.description %></p>
              <% if s.bio %>
                <h6 class="speaker-bio__header">About <%= s.name %></h6>
                <div class="speaker-bio"><%= markdown(s.bio) %></div>
              <% end %>
            </footer>
          </section>
        <% end %>
      </article>
<!-- </section> -->
