

<!-- <section class="m-day-schedule"> -->
    <!-- <a name="coc"></a> -->
      <aside class="day-schedule__nav__container">
          <div class="day-schedule__nav">
            <% data.speakers.each do |s| %>
            <%= link_to s.social.github, "##{s.name.gsub(/[^a-z0-9\s]/i, '').split(' ').join('-').downcase}" %>
            <% end %>
          </div>
      </aside>
      <article class="day-schedule__body">
        <% data.speakers.each do |s| %>
          <%= link_to :name => "#{s.name.gsub(/[^a-z0-9\s]/i, '').split(' ').join('-').downcase}" %>
          <h5>
            <%= s.start %> - <%= s.end %>
          </h5>
          <h3>
            <%= s.title %>
          </h3>

          <h6><%= s.name %></h6>
          <p>
            <%= s.description %>
          </p>
          <footer>
            <% if s.bio %>
              <h6 class="speaker-bio__header">About <%= s.name %></h6>
              <div class="speaker-bio"><%= markdown(s.bio) %></div>
            <% end %>
          </footer>
        <% end %>
      </article>
<!-- </section> -->
